name: Publish Grasshopper Plugin to Yak

on:
  release:
    types:
      - published

jobs:
  publish:

    name: Publish to Yak
    runs-on: windows-latest
    env:
      YAK_TOKEN: ${{ secrets.YAK_TOKEN }}
      AUTHID:  ${{ secrets.AUTHID }}

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'

    - name: Install dependencies
      run: dotnet restore .\Axis.sln --verbosity normal

    - name: Build
      run: dotnet build --configuration Yak --no-restore --verbosity normal

    - name: Test
      run: dotnet test --no-restore --verbosity normal

      # Get the assembly version
    - uses: dotnet/nbgv@master
      with:
        setAllVars: true

    - name: Push development version to Yak
      if: contains(github.ref, 'beta')
      uses: pfmephisto/rhino-yak@v1
      with:
        build-directory: ./dist
        version: "$Env:NBGV_SemVer2"

    - name: Push main version to Yak
      if: contains(github.ref, 'release')
      uses: pfmephisto/rhino-yak@v1
      with:
        build-directory: ${{ env.Release_File_Path }}
        version: "$Env:SimpleVersion"

